* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
    scroll-behavior: smooth;
}
p, li {
    font-size:1rem;
    line-height:1.5rem;
}
h1 {
    font-weight:800;
    font-size:6rem;
}
h2, h3, h4, h5 {
    font-weight:300;
}
h2 {
    font-size:4rem;
}
h3 {
    font-size:2rem;
}
.apartados {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 720px;
}
.apartados__item-turismo {
    border:#000000 solid 1px;
}
.apartados__titulo {
    
    background-color:#d9d9d9;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}
.apartados__cajas {
    display:flex;
}
.apartados__item {
flex:1;
position:relative;

}
@media screen and (max-width:700px) { 
   .apartados__cajas {   
     overflow-x:auto;
     overflow-y:hidden;
     scroll-snap-type: x-mandatory;

}
.apartados__item {
    flex-basis:100%;
     flex-shrink:0;
scroll-snap-align: none center;
}
}
.container {
    max-width:1440px;
    width:100%;
}
.item__overlay {
    position:absolute;
    top:0;
    transform:translateY(80%);
    transition: 0.5s;
    background-color:red;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:1rem;
    height:100%;
}

.apartados__item:hover .item__overlay {
    transform: translateY(30%);
}

:nth-child(odd of .apartados__item) {
    background-color:#c7c7c7;
}
:nth-child(even of .apartados__item) {
    background-color:#cfcfcf;
}
.apartados__item h3 {
    padding-left: 1rem;
    padding-top:1.5rem;
    text-transform:uppercase;
}

/*menu superior */

.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }
  
  .nav__ul {
    list-style-type: none;
  }
  .nav__ul li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
  }
  .nav__a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
  }
  .nav__a:hover {
    color: #c7c7c7;
  }
  .nav__a i {
    margin-right: 20px;
  }
  
